* {
  font-family: 'Open Sans';
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
}

.todo-app {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  width: 50%;
  margin: 0 auto;
  box-shadow: 5px 5px 40px 5px rgba(0, 0, 0, 0.15);
}

h1 {
  display: block;
  font-size: 80px;
  color: rgba(0, 0, 0, 0.2);
  text-align: center;
}

.todo-app-add {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.todo-item {
  list-style: none;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.todo-item-view {
  display: flex;
}

.todo-item-view input[type='checkbox'] {
  display: none;
}

.todo-item-view label {
  flex: 1 1 0%;
  font-size: 20px;
  padding: 0.5rem 1rem;
}

.todo-item-view input[type='checkbox']:checked + label {
  text-decoration: line-through;
}

.todo-item-toggle {
  margin: 1rem;
  width: 1rem;
}

.todo-item-edit {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.02);
}

.todo-item-edit input {
  flex: 1 1 0%;
  padding: 0.5rem 1rem;
  font-size: 20px;
  padding-left: 4rem;
  border: none;
  background: transparent;
}

.todo-item-destroy {
  color: rgba(139, 0, 0, 0.3);
  font-size: 20px;
  margin-right: 0.5rem;
  border: none;
  background: none;
}

.todo-item-destroy:hover {
  color: rgba(139, 0, 0, 0.8);
  cursor: pointer;
}

#items {
  width: 100%;
  padding: 0;
  margin: 0;
}

.todo-list-summary {
  display: flex;
  width: 100%;
  padding: 1rem;
}

.todo-list-filters {
  flex: 1 1 0%;
  text-align: center;
}

.todo-list-filters input[type='radio'] {
  visibility: hidden;
}

.todo-list-filters input[type='radio']:checked + label {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.todo-list-filters label {
  padding: 0 1rem;
}

.todo-list-filters label:hover {
  background: rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.todo-list-clear {
  background-color: transparent;
  border: none;
}
